/* Pick an external font for the ‘logo’ section.
 We’ve used Norse Bold, but
  you can use any font you like.
*/

@font-face {
    font-family: 'norsebold';
    src: url('../webfontkit/norse-bold-webfont.woff2') format('woff2'),
         url('../webfontkit/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}
html {
    height: 100vh;
    width: 100vw;
}
body {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
}

.right-side, .left-side {
    width: 70%;
    height: 100%;
}

.left-side {
    width: 30%;
    background-image: url('../background-img.jpg');
}

.upper-part,.lower-part {
    width: 100%;
    height: 30%;
}

.upper-part {
    height: 70%;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
    height: 200px;
    background-color: rgba(0,0,0,0.35);
    /*background-image: url('../odin-lined.png');*/
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    height: auto;
}

.logo h1 {
    color: white;
    font-family: 'norsebold', sans-serif;
    font-size: 80px;
}
.left-side .lower-part *{
    color: white;
}

.lower-part {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.firstsec, .thirdsec, .secondsec {
    width: 100%;
    height: 30%;
    padding: 0 0 0 50px;
}


button {
    background-color: #596D48;
    border-color: #596D48;
    box-shadow: none;
    border: 0px;
    color: white;
    padding: 8px 50px;
    border-radius: 5px;
    font-weight: bolder;
}

.firstsec, .thirdsec {
    height: 35%;
    background-color: #f9fafb;
    padding: 35px 0 0 50px;
}

form {
    width: 100%;
    height: 180px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
}

form * {
    height: 20px;
    width: 250px;
}

form label {
    margin-top: 20px;
}

.right-side .secondsec h1 {
    margin: 0;
}

input {
    border: 1px solid #E5E7EB;
    /* margin-bottom: 15px; */
    padding: 5px;
    border-radius: 5px;
}

/* input:invalid {
    border-color: red;
}  */
  
input:valid {
    border-color: green;
}

input:focus {
    border-color: blue;
    box-shadow: 1px 1px black;
    outline: none /* to override the browser's default focus behaviour.*/
}

#password:invalid , #confirm-password:invalid {
    border-color: red;
}

.thirdsec p a {
    color: #596D48;
    font-weight: bolder;
    text-decoration: none;
}

.right-side {
    font-family: sans-serif;
}

.firstsec {
    font-weight: 700;
    padding-right: 320px;
    padding-top: 140px;
}

.secondsec {
    padding-top: 20px;
    height: 30%;
   /*  box-shadow: 3px 3px 5px 6px #ccc; */
}